/* Styles header-profile */
.headerProfile{
    width: 100%;
}

/* Styles header-card */
.headerCard {
    border-bottom-left-radius: 0 !important ;
    border-bottom-right-radius: 0 !important;
    border-bottom: 0 !important;
}

/* Styles body-profile */
.bodyProfile{
    margin-top: 30px;
}

/* Styles image-container */
.imageContainer{
    position: relative;
}

/* Styles image-banner */
.imageBanner{
    height: 200px;  
}

/* Styles image-profile */
.imageProfile{
    top: 95px;
    left: 10px;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 1;
}

/* Style header-form-button */

.headerFormButton{
    margin-top: 10px;
}