/* Styles header-profile */
.header-profile{
    width: 100%;
    
}

/* Styles header-card */
#header-card{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

/* Styles body-profile */
.body-profile{
    margin-top: 30px;
}

/* Styles image-container */
.image-container{
    position: relative;
}

/* Styles image-banner */
.image-banner{
    height: 200px;  
}

/* Styles image-profile */
.image-profile{
    top: 95px;
    left: 10px;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 1;
}

/* Styles header-form */

.header-form input{
    width: 100%;
}
