/* Styles nav-container */
.navContainer{
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Styles nav-elements */
.navElements{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Styles nav-left */
.navLeft{
    margin-left: 5px;
}

/* Styles nav-right */
.navRight{
    margin-right: 5px;
}

.navRight a{
    color: aliceblue;
    margin-right: 5px;
}

