/* Styles nav-container */
.nav-container{
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Styles nav-elements */
.nav-elements{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Styles nav-left */
.nav-left{
    margin-left: 5px;
}

/* Styles nav-right */
.nav-right{
    margin-right: 5px;
}

.nav-right a{
    color: aliceblue;
    margin-right: 5px;
}

